body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #ffffff;
}

.header{
    width: 100vh;
    height: 100px;
}

.card-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
}

.icon-header{
    margin: 20px;
    margin-right: 40px;
}

.inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 50px;
}

.card-headerup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #040029;
    color: #ffffff;
    padding-right: 70px;
    padding-left: 30px;
    height: 50px;
}

.sideup{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.three-button{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.search-bar{
    width: 300px;
}

.card-headerdown{
    height: 70px;
    border: 3px solid rgba(209, 209, 209, 0.747);
    border-radius: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.hpl{
    text-decoration: none;
    color: black;
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 300px;
}

.hpl:hover{
    color: rgb(37, 117, 90);
}

.fan{
    border: 0;
    background-color: #040029;
    text-decoration: none;
    color: #ffffff;
}

.fan:hover{
    color: rgb(17, 161, 113);
}

.categories{
    height: 44.5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid grey;
    padding-left: 30px;
    width: 170px;
    background: url(../img/../img/categories.png) no-repeat scroll 12.5px 12.5px;
    background-size: 20px;
}

.categories:hover{
    color: rgb(255, 255, 255);
    background-color: grey;
}

.search-bar{
    background: url(../img/search-interface-symbol.png) no-repeat scroll 12.5px 12.5px;
    background-size: 20px;
    padding-left: 30px;
    height: 45px;
    width: 300px;
    padding-left: 42.5px;
}

.account{
    height: 42.5px;
    width: 43px;
    background: url(../img/../img/user-home.png) no-repeat scroll 11px 10px;
    background-size: 20px;
}

.liked{
    background: url(../img/../img/heart.png) no-repeat scroll 11px 11px;
    background-size: 20px;
    height: 42.5px;
    width: 45px;
}

.cart{
    background: url(../img/../img/../img/shopping-cart.png) no-repeat scroll 11px 11px;
    background-size: 20px;
    height: 42.5px;
    width: 45px;
}

h3{
    margin-bottom: 20px;
}

.content{
    padding: 100px;
}

.featured-products{
    display: flex;
    flex-direction: row;
    height: 320px;
    width: 100%;
}

.pen-div{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 220px;
    margin-right: 60px;
}

.penstock{
    width: 200px;
}

.pen1-link{
    text-decoration: none;
    color: black;
}

.pen1-link:hover{
    color: rgb(17, 161, 113);
}

.footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgba(209, 209, 209, 0.747);
}

.figm{
    height: 50px;
    margin-right: 30px;
}

.credit{
    margin-left: 20px;
}

.search-results{
    border: 1px solid gray;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: #f4f6f5a1;
    border-radius: 0 0 10px 10px;
}

.icon {
    background: transparent;
    border: 0;
    padding: 10px;
}

.icon>img {
    width: 25px;
}

#name_app {
    display: none;
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 2px 2px #bfacac;
}

#chatbox {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
    display: none;
    background-color: #ffffff;
}

#messages {
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#input-form {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

#send-button {
    width: 10%;
    border: 0;
    padding: 5px;
    cursor: pointer;
    background: transparent;
}

#send-button>img {
    width: 30px;
    height: 30px;
}

.message {
    width: -webkit-fill-available;
}

.message span {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
}

.user span {
    background: #578b83;
}

.model span {
    background: #e4e6e7c2;
}

.user {
    display: flex;
    justify-content: right;
}

.model {
    display: flex;
    justify-content: left;
}

.outer-cart {
    background-color:  #739AFF;
    padding: 150px;
}


.shoppingcart {
    border: 1px solid #ffffff;
    background: #ffffff;
    height: 1000px;
    border-radius: 20px;
    padding: 50px;
    display: flex;
}

.return {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 600;
}

.return:hover{
    color: #578b83;
}

.blackline {
    height: 1px;
    width: 100%;
    border: 1px solid black;
    margin-top: 25px;
}

.shopping-continue-part {
    width: 100%;
    margin-right: 50px;
}

.checkout-method {
    width: 30%;
    border: 1px solid #565ABB;
    border-radius: 20px;
    background-color: #565ABB;
    padding: 20px;
    padding-top: 30px;
}

.cart-title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 400;
}

.cart-item {
    display: flex;
    border: 1px solid grey;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;

}

.cartitem {
    height: 100px;
    border-radius: 10px;
}

.remove {
    height: 50px;
}

.card-details {
    color: white;
    font-weight: 600;
    font-size: x-large;
}

.avatar-user {
    height: 60px;
    border-radius: 9px;
}

.upper-checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-type {
    color: white;
    font-size: large;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.payment {
    height: 60px;
    width: 80px;
    border-radius: 10px;
    border: 0px solid #739AFF;
}

.name {
    height: 40px;
    width: 100%;
    border-radius: 7px;
    border: 0px solid black;
    padding: 10px;
    padding-left: 20px;
    background: #6268C6;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #C4C4C4;
}

::placeholder{
    color: #C4C4C4;
}

.more-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-div {
    width: 50%;
    margin-right: 10px;
}

.cvv-div {
    width: 50%;
}

.line {
    display: flex;
    align-items: center;
}

.line-checkout {
    width: 100%;
    border: 1px solid #5F65C3;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.last {
    margin-bottom: 50px;
}

.checkout-text {
    color: white;
    font-size: 125%;
}

.checkout-btn {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border: 1px solid #4DE1C1;
    background-color: #4DE1C1;
    border-radius: 12px;
    height: 60px;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.to-cart{
    border: 0px solid #4DE1C1;
    height: 100px;
    background-color: #4DE1C1;
    border-radius: 12px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.to-cart:hover {
    background-color: #578b83;
}